node_modules
# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
# **/public/worker-*.js.LICENSE.txt
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

.next